html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e81aff, #42caff, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title {
  font-family: "Merriweather", serif;
  font-size: 3.2rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px rgba(33, 37, 41, 0.3);
}

.container {
  position: relative;
  max-width: 768px;
  height: auto;
  background: white;
  padding: 3.2rem 3.2rem;
  border-radius: 16px;
  gap: 4rem;
  margin: 0 2.4rem;
}

.quote-text {
  width: 100%;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: left;
  line-height: 1.8;
  margin-bottom: 2.4rem;
}

.quote-name {
  width: 100%;
  text-align: right;
  font-family: "Merriweather", serif;
  font-size: 1.6rem;
  font-weight: lighter;
  margin-bottom: 3.2rem;
}

#quote-btn {
  width: 100%;
  padding: 1.6rem 3.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  background: #212529;
  color: white;
  cursor: pointer;
}

#quote-btn:active {
  background: #495057;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    height: 340px;
  }

  .quote-text {
    font-size: 2.4rem;
  }

  .bar {
    background: #212529;
    width: 0.8rem;
    height: 100%;
    float: left;
    margin-right: 2rem;
  }

  #quote-btn {
    position: absolute;
    right: 3.2rem;
    bottom: 3.2rem;
    width: auto;
  }
}
